<div>
  <h1>CONVERSOR DE MOEDAS</h1>

  <div>
    <div class="input-converter">
      <p>Quantia</p>
      <div class="converter">
        <input
          (change)="convert(inputFieldEnum.QTD)"
          [(ngModel)]="inputs.qtd"
        />
        <select
          id="inputFieldEnum.QTD"
          [(ngModel)]="currentChoices.qtd"
          (change)="onSelectionChange($event)"
        >
          @for (item of selectOption; track item.name) {
          <option value="{{ item.value }}">{{ item.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="input-converter">
      <p>Convertido</p>
      <div class="converter">
        <input
          (change)="convert(inputFieldEnum.CON)"
          [(ngModel)]="inputs.converted"
        />
        <select
          id="converted"
          [(ngModel)]="currentChoices.converted"
          (change)="onSelectionChange($event)"
        >
          @for (item of selectOption; track item.name) {
          <option value="{{ item.value }}">{{ item.name }}</option>
          }
        </select>
      </div>
    </div>
  </div>
</div>
