<div [ngClass]="{ medieval: medievalStyleService.getValue()(), tabel: true }">
  <h1>
    monetæ <br *ngIf="medievalStyleService.getValue()()" />
    registration
  </h1>
  <div class="modal" *ngIf="showModel">
    <label for="password"> Senha </label><br />
    <div class="converter">
      <input name="password" [(ngModel)]="password" />
    </div>
    <br />
    <button class="standartButton" (click)="login()">Entrar</button>
  </div>
  <ag-grid-angular
    *ngIf="!showModel"
    class="ag-theme-alpine aggrid"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="10"
    [paginationPageSizeSelector]="[10, 20, 50, 100]"
  >
  </ag-grid-angular>
</div>
