// styles.scss
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

.tabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: capitalize;
  text-align: center;
}

.aggrid {
  width: 60vw;
  height: 200px;
}
