/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

@font-face {
  font-family: "Canterbury";
  font-style: normal;
  font-weight: 500;
  src: url(../public/Canterbury.ttf) format("truetype");
}

.standartButton {
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  &:hover {
    background-color: black;
    color: white;
  }
}
.medieval {
  .standartButton {
    background-color: #ffffff77;
  }
}
